@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://tailwindcss.com/docs/adding-custom-styles#adding-base-styles */
@layer base {
  h1 {
    @apply text-4xl;
    @apply leading-relaxed;
  }
  h2 {
    @apply text-xl;
    @apply text-gray-700;
  }
  h3 {
    @apply text-lg;
    @apply font-mono;
    @apply text-gray-700;
    @apply bg-gray-100;
    @apply rounded;
    padding: 0 0.75rem;
    margin-top: 1.5rem;
  }
}

html,
body {
  padding: 0;
  margin: auto;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 1200px;
}

p {
  margin: 0.75rem 0;
}

a {
  color: #0070f3;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 2rem;
}
